label {
  display: block;
}

.suggestions > div {
  display: none;
}

.suggestions .suggestion * {
  text-align: center;
}

.suggestions .panel-body {
  max-height: 325px;
  padding: 0;
}

/* .img-div img:first-child {
  margin: 0 0 0 20%;
}

.img-div img:last-child {
margin: 0 20% 0 0;
} */

.img-div {
  padding: 30px;
}

.img-div > img {
  margin: auto;
  max-height: 325px;
  display: inline;
  text-align: center;
  max-width: 30%;
  padding: 15px;
}
